<h2>Scenario1 : print on console</h2>
<app-component1></app-component1>
<hr>
<h2>Scenario 2: print on browser</h2>
<app-component-sc2></app-component-sc2>
<hr>
<h2>Scenario 3: msg to parent and print on child</h2>
<app-component-parent-sc3></app-component-parent-sc3>
<hr>
<h2>Scenario 4: msg to child and print on parent</h2>
<app-component-parent></app-component-parent>
<hr>
<h2>Scenario 5: msg to child and print on grandParent</h2>
<app-component-grandparent-sc5></app-component-grandparent-sc5>
<hr>
<h2>Scenario 6: msg to child1, passed to parent, parent gives to child2 and child2 prints</h2>
<app-component-parent-sc6></app-component-parent-sc6>
<hr>

